{% extends 'base.html.twig' %}
{% trans_default_domain 'TestBundle' %}
{% block body %}
    <h1>{{ 'label.title.welcome'|trans }}</h1>
    <nav>
        <ul>
            <li>
                <a href="{{ path('admin_commandes') }}">{{ 'label.orders.manage'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('loadXML_commande') }}">{{ 'label.orders.loadXML'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('add_commande') }}">{{ 'label.order.add'|trans }}</a>
            </li>
        </ul>
    </nav>
{% endblock %}
