{% extends "::base.html.twig" %}
{% trans_default_domain "TestBundle" %}

{% block body %}
    <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
        {% if app.session.flashBag.has('notice') %}
            <div class="alert alert-danger">
                {% for notice in app.session.flashBag.get('notice') %}
                    {{ notice }}
                {% endfor %}
            </div>
        {% endif %}
        {{ form_start(commandeForm) }}

        {{ form_widget(commandeForm) }}
        {{ form_errors(commandeForm) }}
        <button class="btn-primary">{{ 'label.order.submit'|trans }}</button>
        {{ form_end(commandeForm) }}
    </div>

{%  endblock %}