{% extends "::base.html.twig" %}
{% trans_default_domain 'TestBundle' %}
{% block body %}
    {% if grid.totalCount > 0 %}
        {{ grid(grid) }}
    {% else %}
        <h1>{{ 'label.orders.empty'|trans }}</h1>
    {% endif %}
    <a href="{{ path('add_commande') }}">{{ 'label.order.add'|trans }}</a>
{% endblock %}